.form_input{
	width: 30%;
	margin-bottom: 20px;
	margin-right: 20px
}
.el-input__inner{
    border: 1px solid #bbbbbb
}

.el-dialog{
    position: absolute;
    margin: 0px !important;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.operateBtn{
	
}