#generalMG .el-table td, .el-table th{
	padding: 4px 0;
}

.el-table td, .el-table th.is-leaf{
    border-bottom: 1px solid #bbbbbb;	
}

.el-table--border th{
    border-right: 1px solid #bbbbbb;	
}

.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{
    border-right: 1px solid #bbbbbb;	
}
.el-table--border, .el-table--group{
    border: 1px solid #bbbbbb;
}